src/main/app/temperature.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<ws:consumer-config name="Web_Service_Consumer" wsdlLocation="https://www.w3schools.com/xml/tempconvert.asmx?wsdl" service="TempConvert" port="TempConvertSoap12" serviceAddress="http://www.w3schools.com/xml/tempconvert.asmx" doc:name="Web Service Consumer"/>
	<flow name="temperatureFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/action" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="data" value="#[message.inboundProperties.'http.query.params'.temp]" doc:name="Variable"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 https://www.w3schools.com/xml/
---
{
	ns0#CelsiusToFahrenheit: {
		ns0#Celsius: flowVars.data as :string
	}
}]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<ws:consumer config-ref="Web_Service_Consumer" operation="CelsiusToFahrenheit" doc:name="Web Service Consumer"/>
		<mulexml:dom-to-xml-transformer mimeType="application/xml" doc:name="DOM to XML"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<dw:transform-message doc:name="Transform Message" metadata:id="b55298f9-9148-4853-bf8f-1f86a3e0f36c">
			<dw:input-payload doc:sample="sample_data\CelsiusToFahrenheitResponse_1.xml" mimeType="application/xml"/>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
payload]]></dw:set-payload>
		</dw:transform-message>

	</flow>
</mule>
